body, html {
height: 100%;

}
.volver{
        margin-left: 483px;
        font-family: 'Merriweather', serif;
}
.parrafo{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    line-height: 150%;
    color: #111;
    font-size: 20px;
}
.titulo{
    font-size: 37px;
   
}
// .deportes1 {
// background-image: url("https://media.tycsports.com/files/2019/08/28/67449/zlatan_416x234.jpg?v=2");
// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// }

// .deportes2 {
// background-image: url("https://media.tycsports.com/files/2019/11/13/77306/daniel-angelici_862x485.jpeg");
// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// }

// .deportes3{
//     background-image: url("https://bolavip.com/__export/1574892162406/sites/bolavip/img/2019/11/27/messi-final_crop1574892161540.jpg_1693159006.jpg");

// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;

    
// }
.espacio2{
    margin-top: 70px;
}
.espacio3{
       margin-top: 11px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
}

.espacio{
    margin-top: 85px;
}
.secondeparttextspam{
    font-size: 21px;
    font-family: nyt-cheltenham;
}
// .comunidadFotos1{
//     background-image: url("http://www.laconexionusa.com/fotosnoticias/g/esuclea.jpg");

// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;

// }
// .comunidadFotos2{
//     background-image: url("http://www.laconexionusa.com/fotosnoticias/g/dolar.jpg");

// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;

// }
// .comunidadFotos3{
//     background-image: url("http://www.laconexionusa.com/fotosnoticias/g/dia.jpg");

// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;

// }


// .noticias2{
//     background-image: url("http://www.laconexionusa.com/fotosnoticias/g/Obamacare11.jpg");

// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// }
// .noticias3{
//     background-image: url("http://www.laconexionusa.com/fotosnoticias/g/16012659w.jpg");
// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
   
// }
// .noticias1 {
// // background-image: url("https://static01.nyt.com/images/2019/11/13/us/politics/13dc-impeach2/merlin_164329095_76d97a02-7ebf-4c45-a067-65bc1a1787a8-superJumbo.jpg?quality=90&auto=webp");
// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// }
// .image{
//     background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// }
.textandphoto{
    margin-bottom: 20px;
      font-weight: 600;
      font-family: nyt-cheltenham;
          font-size: 18px;
}
.lefttextspam{
     font-size: 20px;
    //  font-family: 'Oswald', sans-serif;
    //  font-family: 'Lato', sans-serif;
    font-family: nyt-cheltenham;
}
// .derechaRow{
//     // border-left:3px double #aaa;
//     // // font-family: nyt-cheltenham;
// }
.box{
     
    //  border-bottom: 1px solid #aaa;
     margin-bottom: 50px;
   
}
.ul{
border-left: 1px solid #aaa;
}
.secciones {
    color: gray;
    font-size: 12px;
     
}

.righttextspam{
    // font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-family: nyt-cheltenham;
}
dl, ol, ul {
    // margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
}
.date {
    font-size: 12px;
    color:black;
}
.left{
        width: 66px;
}
.right{
    
    float: right !important;
    width: 159px;
}

.rowderecha{
     display: inline;
}
.navbar-nav {
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Lato', sans-serif;
    font-family: nyt-cheltenham;
    font-weight: 900;
    font-size: 100%;
    letter-spacing: 0.5px;
    text-transform: uppercase; 
    margin: auto;
}
.container {
    max-width: 1252px;
        margin-top: 51px;
}
.navbar-expand-lg {
    padding-left: 0px;
    padding-right: 0px;}
.navbar-expand-lg .navbar-collapse {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    }
.navbar-expand-lg .navbar-nav .nav-link {
    color: black;
    padding-right: 56px;
}

.card-img-top {
    // width: 100%;
    padding: 1px;}

.navbar-light .navbar-brand {
    padding: 20px;
    color: #00adff !important;
    font-size: 50px;
    font-weight: 900;
margin: auto;
// font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
.littetextspam{
    // font-family: 'Lato', sans-serif;
    // font-family: nyt-cheltenham;
    // font-family: 'Oswald', sans-serif;
        // font-family: 'Merriweather', serif;
    font-weight: 300;
    line-height: 150%;
    color: #111;
}
.textspam{
    font-family: nyt-cheltenham;
    // font-family: 'Lato', sans-serif;
    // font-family: nyt-cheltenham;
//      font-family: 'Poppins', sans-serif;
 font-size: 32px;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #111;
}
.card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
    margin: 49px;
}
.p{
    // font-family: 'Poppins', sans-serif;
    // font-family: nyt-cheltenham;
font-size: 30px;
}

// p::first-letter {
//     text-transform: uppercase;
//     font-size: 2em;
//     font-weight: bold;}
.bg-light {
    background-color: #f8f9fa00 !important;
}
.homespam{
font-family: suecaslabmedium,Georgia,"serif";
    font-size: 26px;
    line-height: 4.313rem;;
    font-weight: 400;
   
    padding-right: 1095px;
    border-bottom:2px solid black;
    // padding-bottom:2px;
}


.row1{
    margin-top: 20px;
}
.card{
margin:0px;
    border: none;
}
.col-8{
    padding: 0px;
}

// .jumbotron {
//     // padding: 3rem 7rem;
//     padding: 0px;
//     padding-bottom: 103px;
//     color: #fff;
// background: #333;
//     background-image: url(http://newslatinotoday.net/wp-content/uploads/2018/08/qtq50-H8S369.jpeg);
//     background-size: cover;
//     background-repeat: no-repeat;

// }
// .background-image{
//     color: white;
// }
// hr {
//     margin-top: 1rem;
//     margin-bottom: 1rem;
//     border: 0;
//     border-top: 1px solid rgba(255, 255, 255, 0.65);
// }

// .display-3 {
//     font-size: 1.5rem;
//     font-weight: 300;
//     line-height: 1.2;
// }

// .jumboedit{
//     display: inline-block;
//     margin-top: -34px;
// }
// .float-right {
//     float: right !important;
//     margin-top: 35px;
//     margin-left: 56px;
// }
// .boxes{
//     padding: 20px;
//     color: white;
// }
// .container {
//     padding: 33px;
// }
